extends layout

block content

  .container
    .jumbotron
      h2 Welcome to Express
      h1.text-primary.text-uppercase(style="font-size:5em") GETWAY

      .card
        .card-body.p-1
          b isConnectedToRabbit = 
            span(style="color:"+(isConnectedToRabbit?"green":"red") ) #{isConnectedToRabbit}

          button#btn_restart1.btn.btn-primary.float-right
            i.fa.fa-restart
            | Restart

      p
      p
      
      .alert.alert-info
        h3 service1 - 
          span#status1
            i.fa.fa-cog.fa-spin
      .alert.alert-info
        h3 service2 - 
          span#status2
            i.fa.fa-cog.fa-spin

      

      pre.maxHeightLimit 


block scripts
  script.
    $(document).ready(()=>{
      var json = !{data}
      $('pre').html(syntaxHighlight(json))

      function getStatus(eid,path){
        $Get(path, data => {
          console.log(data)
          $(eid).html(data.text || data)
        }, err => {
          $(eid).html('error - ' + err)
        })
      }

      getStatus('#status1', '/status1')
      getStatus('#status2', '/status2')

      $('#btn_restart1').click(()=>{
          $('.container').first().html('Restarting...')
          $.post('/restart')
          setTimeout(()=>location.reload(), 500)
      })
    })
